div{
    width: 500px;
    height: 500px;
/*    text-align: center;*/
/*    vertical-align: center;*/

    border-width: 10px 8px;
    border-style: dotted;
    border-color: red;
    /*시계 방향*/
    padding:100px/*위*/ 50px/*오른*/ 30px/*아래*/ /*왼*/;
    margin: 20px 100px;
    
}


.menu li{
    display: inline-block;
}

.menu li a{
    /*border가 자료를 밀어버려서 통통하게 만들어짐*/
    padding:30px 10px;
    border: 1px solid silver;
    display: inline-block;
    color: white;
    background-color: darkblue;
    text-decoration: none;
    font: size 2rem;
    margin: 0px 30px;
}

#box{
    width: 100px;
    height: 100px;
/*    border-width: 3px 10px;*/
    border-bottom: 20px;
    border-style: dashed;
    border-style: dotted;
    border-color: green;
}