#wrap{
    border: 1px solid silver;
    width: 85%;
    height:90vh;
    margin: 0 auto; /*wrap에 margin 0 auto를 해야 애들이 가운데 배치를 한다.*/

}


header{
    border: 1px solid rgb(102,102,102);
    background-color: rgb(204,255,255);
}

nav{
    background-color: pink;
}

div.main{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    display: inline-block;
    padding:20px 30px;
    text-decoration: none;
    color: black;
}

.main aside{
    background-color: skyblue;
}

.main aside li{
    list-style: none;
}

.main aside li a{
    display: inline-block;
    padding: 10px 30px;
}


aside{
    width: 25%;
}

article{
    width: 70%;
    background-color: lightgoldenrodyellow;
}

footer{
    background-color: skyblue;
    
}

footer p{
    padding:30px 10px;
}

