/* id는 # class . */


#area1{
background-color: rgb(120, 120, 137);

}

#area2{
    background-color: red;
    
}

div.line{
    width: 200px;
    height: 1px;
    background-color: palegreen;
}

a{
    color: violet;
}

header{
    width: 100%;
    height: 400;
    background-color: palegreen;
    font-size: 80px;
    text-align: center;
}

img{
    width: 100%;
}

.imgStyle{
    width: 300px;
    height: 150px;
}

table{
    width: 750px;
}

tr ,td,th{
    border: 2px solid green;
}

