/* id는 # class . */

#area1{
background-color: rgb(120, 120, 137);

}

#area2{
    background-color: red;
    
}

div.line{
    width: 200px;
    height: 1px;
    background-color: palegreen;
}

a{
    color: violet;
}