

div{
    width: 100px;
    height: 100px;
    border: 1px solid silver;
    background-image: url('https://www.chemicalnews.co.kr/news/photo/202106/3636_10174_4958.jpg');
    background: linear-gradient(circle,orange, magenta 80%, yellow );
}



/*float -> 요즘 잘 안쓰지만 img 배치들을 나타낼때*/
div.clear{
    clear:both;
}




table{
    width: 300px;
    height: 150px;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    text-align: center;
}


thead tr{
    background-color: antiquewhite;
    border-bottom: 5px double black;
}

.content{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    flex-grow: 2;
}

.content1{
    order:1;
}

.content2{
    order:3;
}

.content3{
    order:2;
    border: 3px solid red;
}