*{
    margin:0 auto ;
    padding:0;
    margin-bottom: 10px;
}



header{
    width: 90%;
    height: 100px;
    background-color: aqua;
    padding: 30px;
    margin-top:10px;
    position:sticky;
    top: 0px;
}



.container{
    display: flex;
}

aside{
    width: 15%;
    height: 150px;
    background-color: yellow;
    padding:30px;
    top: 200px;
    position: fixed;
}

.sidebar1{
    left:30px;
}

.sidebar2{
    right: 30px;
}


aside h3{
    text-align: center;
    margin-bottom: 30px;
}

article{
    width:40%;
    height: 600px;
    background-color: bisque;
    padding: 30px;
}

footer{
    width: 90%;
    height: 100px;
    background-color: greenyellow;
    padding:30px 20px;
    left:5%;
    position: fixed;
    bottom:0;
}